.dashboard {
	.dashboard-header {
		padding-left: rem(58px);
		padding-top: rem(57px);

		/*----------  Main Header  ----------*/
		.main-header {
			display: flex;
			align-items: center;
			background: #ffffff;
			padding-left: rem(23px);
			padding-right: rem(23px);
			transition: all 0.4s ease;
			position: fixed;
			top: 0;
			right: 0;
			left: 58px;
			z-index: 11;
			box-shadow: 0 0 10px rgba(82, 82, 82, 0.12);

			button {
				border: 0;
				background: none;
			}

			.side-menu-trigger {
				margin-right: rem(10px);
				flex-shrink: 0;
			}

			.breadcrumb {
				span {
					font-size: rem(17px);
					color: #373c46;
					@extend %din;
					font-weight: normal;

					&.active {
						font-weight: bold;
					}
				}
				@media (max-width: 650px) {
					display: none;
				}
			}

			.user-menu {
				display: flex;
				margin-left: auto;

				.item {
					height: 57px;
					border-left: 1px solid #f4f6f8;
					min-width: 60px;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				/*----------  quick actions  ----------*/

				.quick-actions {
					position: relative;

					.btn-quick-actions {
						width: 30px;
						height: 30px;
						background: #195190;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							transition: all 0.2s ease;
						}
					}

					.quick-actions-menu {
						position: absolute;
						background: #fff;
						top: calc(100% + 3px);
						right: 0;
						width: 295px;
						min-height: 211px;
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 10px;
						box-shadow: 0 0 10px rgba(82, 82, 82, 0.12);
						padding: rem(20px 25px 15px 25px);
						display: none;
						@media (max-width: 570px) {
							right: -140px;
							max-width: calc(100vw - 100px);
						}

						.quick-actions-title {
							color: #195190;
							font-size: rem(18px);
							@extend %din;
							font-weight: bold;
							margin-bottom: rem(25px);
						}

						ul {
							list-style: none;

							li {
								display: flex;
								align-items: center;
								color: #3d6fde;
								font-size: rem(16px);
								@extend %din;
								font-weight: bold;
								cursor: pointer;
								margin-bottom: rem(25px);
								@extend %tr;

								img {
									margin-right: 10px;
								}

								&:hover {
									color: darken($color: #3d6fde, $amount: 20);
								}
							}
						}
					}

					&.show-menu {
						.btn-quick-actions {
							img {
								transform: rotate(45deg);
							}
						}

						.quick-actions-menu {
							display: block;
						}
					}
				}

				/*----------  Notifications  ----------*/
				.notifications {
					position: relative;

					.notifications-menu {
						position: absolute;
						background: #fff;
						top: calc(100% + 3px);
						right: 0;
						width: 383px;
						height: 415px;
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 10px;
						box-shadow: 0 0 10px rgba(82, 82, 82, 0.12);
						padding: rem(30px 8px 25px 35px);
						display: flex;
						flex-direction: column;
						overflow: hidden;
						display: none;

						@media (max-width: 570px) {
							right: -80px;
							max-width: calc(100vw - 90px);
						}

						.dismiss {
							position: absolute;
							right: 20px;
							top: 18px;
						}

						.notifications-title {
							color: #195190;
							font-size: rem(18px);
							@extend %din;
							font-weight: bold;
							margin-bottom: 30px;
						}

						.notifications-list {
							padding-left: rem(13px);
							overflow: auto;
							flex-grow: 1;
							padding-right: 25px;

							.notification {
								display: flex;
								margin-bottom: 25px;
								position: relative;

								.notification-content {
									flex-grow: 1;
									padding-right: rem(10px);

									h6 {
										font-size: rem(13px);
										color: #373c46;
										@extend %opensans;
										font-weight: normal;
									}

									p {
										font-size: rem(12px);
										color: #959ba5;
										@extend %opensans;
										font-weight: normal;
									}
								}

								.notification-label {
									.label {
										background: #e8f1ff;
										border-radius: 3px;
										min-width: 59px;
										min-height: 21px;
										font-size: 9px;
										color: #3d6fde;
										display: flex;
										align-items: center;
										justify-content: center;
										padding: rem(5px 10px);
									}
								}

								&.new {
									&::before {
										content: "";
										width: 5px;
										height: 5px;
										border-radius: 50%;
										background: #ed3348;
										position: absolute;
										left: -12px;
										top: 6px;
									}
								}
							}
						}
						.view-all {
							min-width: 112px;
							min-height: 35px;
							display: flex;
							align-items: center;
							justify-content: center;
							border: 1px solid #195190;
							border-radius: 2px;
							margin: rem(15px auto 0 auto);
							color: #195190;
							@extend %din;
							font-size: rem(13px);
							font-weight: bold;
							@extend %tr;
							svg {
								margin-right: rem(7px);
								path {
									@extend %tr;
								}
							}
							&:hover {
								background: #195190;
								color: #fff;
								svg path {
									fill: #fff;
								}
							}
						}
					}

					&.show-menu {
						.notifications-menu {
							display: flex;
						}
					}
				}

				/*----------  User Control  ----------*/
				.user-control {
					position: relative;

					.btn-user {
						display: flex;
						align-items: center;

						.user-img {
							width: 36px;
							height: 36px;
							box-shadow: 0 10px 10px rgba(61, 111, 222, 0.12);
							border-radius: 50%;
							padding: rem(2px);
							background: #ffffff;
							margin: rem(0 15px 0 17px);

							img {
								max-width: 100%;
								height: auto;
								border-radius: 50%;
							}
							&.user-img-placeholder {
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: rem(14px);
								@extend %din;
								background: #e5e8ef;
								span {
									text-transform: uppercase;
									font-weight: bold;
									color: #959ba5;
								}
							}
						}

						i {
							color: #373c46;
							font-size: rem(18px);
							transition: all 0.3s ease;
						}
					}

					.user-control-menu {
						position: absolute;
						background: #fff;
						top: calc(100% + 3px);
						right: 0;
						width: 250px;
						min-height: 187px;
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 10px;
						box-shadow: 0 0 10px rgba(82, 82, 82, 0.12);
						display: none;

						.user-control-menu-top {
							display: flex;
							padding: rem(23px 12px 19px 12px);
							min-height: 135px;

							.user-img-container {
								width: 57px;

								.user-img {
									width: 57px;
									height: 57px;
									box-shadow: 0 10px 10px
										rgba(61, 111, 222, 0.12);
									border-radius: 50%;
									padding: rem(2px);
									background: #ffffff;
									margin: 0 auto;
									img {
										max-width: 100%;
										height: auto;
										border-radius: 50%;
									}
									&.user-img-placeholder {
										display: flex;
										align-items: center;
										justify-content: center;
										font-size: rem(20px);
										@extend %din;
										background: #e5e8ef;
										span {
											text-transform: uppercase;
											font-weight: bold;
											color: #959ba5;
										}
									}
								}
							}

							.user-info {
								flex-grow: 1;
								padding-left: 12px;

								.user-name {
									color: #373c46;
									font-size: rem(14px);
									@extend %opensans;
									font-weight: 600;
									line-height: rem(19px);
									margin-top: rem(10px);
									margin-bottom: rem(5px);
								}

								.user-email {
									color: #959ba5;
									font-size: rem(10px);
									@extend %opensans;
									font-weight: normal;
								}

								.btn-edit {
									min-height: 29px;
									min-width: 141px;
									background: #e8f1ff;
									border-radius: 5px;
									display: flex;
									align-items: center;
									justify-content: center;
									color: #3d6fde;
									font-size: 12px;
									@extend %din;
									margin-top: rem(20px);
									padding: rem(5px);
									@extend %tr;

									img {
										margin-right: rem(5px);
									}

									&:hover {
										background: darken(
											$color: #e8f1ff,
											$amount: 5
										);
									}
								}
							}
						}

						.user-control-menu-footer {
							min-height: 90px;
							display: flex;
							align-items: flex-start;
							flex-direction: column;
							justify-content: center;
							padding: rem(15px 20px);
							border-top: 1px solid #b8c6dc;

							.control-languages {
								width: 100%;
								display: flex;
								justify-content: flex-start;
								padding-bottom: rem(15px);
								.lang {
									max-width: 36px;
									margin-right: rem(25px);
									margin-bottom: rem(5px);
									border-radius: 4px;
									border: 1px solid transparent;
									cursor: pointer;
									opacity: 0.5;
									@extend %tr;

									img {
										display: block;
									}
									&:last-child {
										margin-right: 0;
									}

									&:hover {
										opacity: 1;
									}

									&.active {
										opacity: 1;
										box-shadow: 0 2px 4px
											rgba(61, 111, 222, 0.3);
										border-color: #3d6fde;
									}
								}
							}

							.btn-logout {
								display: flex;
								align-items: center;
								font-size: rem(12px);
								color: #373c46;
								font-weight: normal;
								@extend %opensans;

								img {
									margin-right: 14px;
								}
							}
						}
					}

					&.show-menu {
						.user-control-menu {
							display: block;
						}

						.btn-user i {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}

	/*----------  Top Bar  ----------*/
	.subheader {
		display: flex;
		align-items: center;
		padding-left: rem(23px);
		padding-right: rem(23px);
		background: rgba(255, 255, 255, 0.59);
		min-height: 57px;
		padding-top: rem(8px);
		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}

		.btn-create {
			border-radius: 5px;
			min-width: 222px;
			min-height: 40px;
			border: 0;
			background: #195190;
			color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(13px);
			font-weight: bold;
			@extend %din;
			padding: rem(5px 15px);
			margin-right: rem(10px);
			@extend %tr;
			margin-bottom: rem(8px);
			img {
				margin-right: rem(5px);
			}
			@include md {
				font-size: 0;
				min-width: auto;
				img, svg {
					margin: 0 !important;
				}
			}
			@media (max-width: 550px) {
				width: 100%;
				margin-right: 0;
				font-size: rem(13px);
				img, svg {
					margin-right: rem(5px) !important;
				}
			}
		}

		.search {
			position: relative;
			margin-right: rem(28px);
			width: 461px;
			min-width: 200px;
			min-height: 40px;
			margin-bottom: rem(8px);
			@media (max-width: 1100px) {
				width: calc(100% - 240px);
				margin-right: 0;
				flex-grow: 1;
			}
			@media (max-width: 550px) {
				width: 100%;
			}

			.search-container {
				position: absolute;
				z-index: 9;
				top: 0;
				left: 0;
				right: 0;
				min-height: 40px;
				background: #ffffff;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				overflow: hidden;

				form {
					position: relative;

					.clear-field {
						position: absolute;
						top: 0;
						right: 15px;
						bottom: 0;
						margin: auto;
						height: 15px;
						background: none;
						border: 0;
						display: none;
					}
				}

				.search-field {
					height: 40px;
					width: 100%;
					border: 0;
					font-size: rem(14px);
					@extend %opensans;
					background: #fff url("../../../../images/icons/search-icon.svg")
						no-repeat left 18px center;
					padding: rem(5px 40px);
					color: #373c46;
					max-width: 100%;

					&::placeholder {
						color: #959ba5;
						font-size: rem(12px);
					}
				}

				span {
					font-weight: bold;
				}

				.search-results {
					display: none;
					padding: 0 5px;

					ul {
						border-top: 0.5px solid #e8f1ff;
						list-style: none;
						padding: 5px 0 15px 0;

						li {
							color: #373c46;
							font-size: rem(17px);
							@extend %opensans;
							font-weight: normal;
							padding: 10px 35px;
							cursor: pointer;
						}
					}
				}
			}

			&.show-results {
				.search-results {
					display: block;
				}

				.search-container {
					.clear-field {
						display: block;
					}
				}
			}
		}

		.select-actions {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			margin-bottom: rem(8px);
			max-width: 100%;
			@media (max-width: 1100px) {
				width: calc(100% - 70px);
				margin-top: 15px;
			}
			@media (max-width: 550px) {
				flex-wrap: wrap;
			}
			.btn-select-action {
				border: 0;
				background: none;
				margin-right: rem(30px);
				margin-top: rem(5px);
				margin-bottom: rem(5px);
				color: #373c46;
				font-size: rem(14px);
				@extend %opensans;

				img {
					margin-right: rem(5px);
					vertical-align: sub;
				}
			}

			.select-all {
				font-weight: 700;
			}

			.delete-selection {
				font-weight: 600;
			}
		}

		.view-control {
			display: flex;
			margin-left: auto;
			width: 68px;
			height: 29px;
			background: #f3f3f3;
			border-radius: 4px;
			overflow: hidden;
			flex-shrink: 0;
			margin-bottom: rem(8px);

			.view-item {
				width: 50%;
				border: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #f3f3f3;

				svg {
					path {
						fill: #959ba5;
					}
				}

				&.active {
					background: #195190;

					svg {
						path {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}
