.configuration-sites {
    .dashboard-content {
		.dashboard-table {
			thead {
				background: #E6EAFF;
				border-bottom: 2px solid #7689ff;
				tr {
					color: #7689FF;
					background: #E6EAFF;
				}
			}
		}
	}
}
